@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: 3px;
    scrollbar-color: linear-gradient(90deg, #ffc700, #ffea21), #ff9e2c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    border-radius: 4px;
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: #1f2937;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffc700, #ffea21), #ff9e2c;
    border-radius: 4px;
}